In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_rows=None
pd.options.display.max_columns=None
import datetime

In [30]:
#read the datasets
ss=pd.read_csv('sample_dataset.csv')
sites=pd.read_csv('sites_metadata.csv')

In [35]:
ss.drop('Unnamed: 0',axis='columns', inplace=True)#drop column which doesnt make sense

In [38]:
ss.drop_duplicates(keep = False, inplace = True)#there were duplicates,we drop them

### Separate Train and Test dataset based on time

In [62]:
test_data =(ss[ss['TimeStamp']>'2020-12-31 00:00:00']).reset_index(drop=True)

In [64]:
train_data =(ss[ss['TimeStamp']<='2020-12-31 00:00:00']).reset_index(drop=True)

In [66]:
train_data.head()

,channel_id,pm2_5,pm10,s2_pm2_5,s2_pm10,Site,TimeStamp
0,912223,81.15,87.97,71.07,78.12,"Banda, Kampala",2020-01-27 10:08:56
1,912223,78.00,84.90,68.95,76.35,"Banda, Kampala",2020-01-27 10:10:22
2,912223,76.75,81.40,70.92,77.17,"Banda, Kampala",2020-01-27 10:11:44
3,912223,72.37,78.53,66.85,75.37,"Banda, Kampala",2020-01-27 10:13:05
4,912223,81.32,87.63,71.97,77.67,"Banda, Kampala",2020-01-27 10:14:38

In [68]:
train_data['TimeStamp']=train_data['TimeStamp'].apply(lambda x: x.split(':')[0])

In [69]:
train_data.head()

   channel_id  pm2_5   pm10  s2_pm2_5  s2_pm10            Site      TimeStamp
0      912223  81.15  87.97     71.07    78.12  Banda, Kampala  2020-01-27 10
1      912223  78.00  84.90     68.95    76.35  Banda, Kampala  2020-01-27 10
2      912223  76.75  81.40     70.92    77.17  Banda, Kampala  2020-01-27 10
3      912223  72.37  78.53     66.85    75.37  Banda, Kampala  2020-01-27 10
4      912223  81.32  87.63     71.97    77.67  Banda, Kampala  2020-01-27 10

In [70]:
train_data=train_data.groupby(['channel_id','Site','TimeStamp'],as_index=False)['pm2_5','pm10','s2_pm2_5','s2_pm10'].mean()

In [71]:
train_data.head()

,channel_id,Site,TimeStamp,pm2_5,pm10,s2_pm2_5,s2_pm10
0,672528,"Kasharara, Rubirizi",2019-01-12 11,24.143333,26.253333,17.363333,17.556667
1,672528,"Kasharara, Rubirizi",2019-01-12 12,21.483333,22.496667,16.390000,18.133333
2,672528,"Kasharara, Rubirizi",2019-01-14 15,104.745714,115.884286,91.912857,100.761429
3,672528,"Kasharara, Rubirizi",2019-01-14 16,95.730000,107.880000,98.517391,106.456522
4,672528,"Kasharara, Rubirizi",2019-01-14 17,147.107826,159.262174,142.483478,149.680000

In [63]:
test_data =test_data[['channel_id','Site','TimeStamp','pm2_5']]

In [64]:
test_data['TimeStamp']=test_data['TimeStamp'].apply(lambda x: x.split(':')[0])

In [65]:
test_data=test_data.groupby(['channel_id','Site','TimeStamp'],as_index=False)['pm2_5','pm10','s2_pm2_5','s2_pm10'].mean()

In [68]:
train_data.to_csv('final_train.csv',index=False)

In [69]:
test_data.to_csv('final_test.csv',index=False)